<h1>Register</h1>
<%- include ('./partials/messages') %>
<div class="divider"></div>
<form action="/users/register" method="POST">
  <div class="row">
<div class="input-field col s6">
    <label class="active" for="name">First Name</label>
    <input
      type="text"
      name="name"
      placeholder="Enter Name"
      value="<%= typeof name != 'undefined' ? name : '' %>"
    />
  </div>
    <div class="input-field col s6">
      <input id="last_name" type="text" class="validate">
      <label for="last_name">Last Name</label>
    </div>
  </div>
<div class="input-field col s12">
    <label for="email">Email Address</label>
    <input
      type="email"
      name="email"
      placeholder="Enter Email Address"
      value="<%= typeof email != 'undefined' ? email : '' %>"
    />
  </div>
  <div class="input-field col s12">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Create Password"
      value="<%= typeof password != 'undefined' ? password : '' %>"
    />
  </div>
  <div class="input-field col s12">
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      name="password2"
      placeholder="Confirm Password"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-block">
    Register
  </button>
</form>
<p >Have An Account? <a href="/users/login">Login</a></p>